<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<link rel="stylesheet" href="/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sedes</title>
</head>
<body>
	<div>
		<h1>Sedes</h1>
		<ul>
			<li><a href="/sedes/insertar">Insertar</a></li>
			<li><a href="/sedes/listar">Listar</a></li>
			<li><a href="/">Home</a></li>
		</ul>
	</div>
</body>
</html>